/*
*
* ChessUI 
* 
*
*/

.chessGame{display:block; width:32rem; height:32rem; margin:0 auto;}
.board{display:block; clear:both; height:100%; width:100%; border:.45rem solid #ddd; background-size:cover; box-shadow:0 .25rem 1rem rgba(0,0,0,.55);}
.board > span{float:left; display:block; height:12.5%; width:12.5%; position:relative;}
.black{background:#444;}
.white{background:#ddd}


ul{font: 100 1em/1.2em sans-serif; display:block; margin:0 auto; width:24rem; padding:1rem 0; text-transform:uppercase;}
ul.players li{float:left; list-style-type:none; padding:1rem; margin-bottom:1rem;}
ul.players li:nth-child(1){float:left; background:#eee; border:1px solid #ccc; border-radius:.25rem;}
ul.players li:nth-child(2){float:right; color:#fff; background:#222; border:1px solid #000; border-radius:.25rem;}


[data-valid*="true"]:after{content:''; display:block; width:100%; height:100%; background:rgba(0,255,0,.5) center center no-repeat; position:absolute; top:0; bottom:0; left:0; right:0;}

[data-piece*="w_"],[data-piece*="b_"]{display:block; width:100%; height:100%; background-size:cover; background-position: center center; background-size:cover;}
[data-piece^="w_p"]{background-image:url(https://upload.wikimedia.org/wikipedia/commons/4/45/Chess_plt45.svg);}
[data-piece^="w_r"]{background-image:url(https://upload.wikimedia.org/wikipedia/commons/7/72/Chess_rlt45.svg);}
[data-piece^="w_n"]{background-image:url(https://upload.wikimedia.org/wikipedia/commons/7/70/Chess_nlt45.svg);}
[data-piece^="w_b"]{background-image:url(https://upload.wikimedia.org/wikipedia/commons/b/b1/Chess_blt45.svg);}
[data-piece^="w_q"]{background-image:url(https://upload.wikimedia.org/wikipedia/commons/1/15/Chess_qlt45.svg);}
[data-piece^="w_k"]{background-image:url(https://upload.wikimedia.org/wikipedia/commons/4/42/Chess_klt45.svg);}

[data-piece^="b_p"]{background-image:url(https://upload.wikimedia.org/wikipedia/commons/c/c7/Chess_pdt45.svg);}
[data-piece^="b_r"]{background-image:url(https://upload.wikimedia.org/wikipedia/commons/f/ff/Chess_rdt45.svg);}
[data-piece^="b_n"]{background-image:url(https://upload.wikimedia.org/wikipedia/commons/e/ef/Chess_ndt45.svg);}
[data-piece^="b_b"]{background-image:url(https://upload.wikimedia.org/wikipedia/commons/9/98/Chess_bdt45.svg);}
[data-piece^="b_q"]{background-image:url(https://upload.wikimedia.org/wikipedia/commons/4/47/Chess_qdt45.svg);}
[data-piece^="b_k"]{background-image:url(https://upload.wikimedia.org/wikipedia/commons/f/f0/Chess_kdt45.svg);}

/*Featherligh override*/
.featherlight .featherlight-content{background:rgba(0,0,0,.85); padding:3rem; border:.5rem solid #eee;}
.featherlight .featherlight-close-icon{background:#eee;}
.featherlight{box-sizing:border-box;}